{% extends "layout.html" %}

{% block content %}
<div class="homepage-content">
    <!-- Display user-specific information, like remaining summaries -->
    {% if user_data %}
    <div class="user-info">
        <p id="summaries-left">Summaries Left: {{ user_data.video_summary_count }}</p>
        <!-- You can customize the appearance and styling as needed -->
    </div>
    {% endif %}
    <!-- Rest of your homepage content goes here -->
</div>
<!-- Container for flash messages -->
<div id="flash-messages-container"></div>

<!-- Form for submitting YouTube URL -->
<form id="youtube-form" class="mb-8" method="POST" action="#">
    <div class="mb-4 flex">
        <input type="text" id="youtube_url" name="youtube_url" placeholder="YouTube URL" class="flex-1 p-2 border border-gray-300 rounded-l-md h-10">
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-r-md h-10 self-start">Summarize</button>
    </div>
</form>

<!-- Embedded YouTube video -->
<div id="videoContainer" class="mb-6">
    <iframe id="embeddedVideo" width="100%" height="315" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<!-- Textarea for the transcript summary -->
<div class="relative">
    <textarea id="transcript_summary" name="transcript_summary" readonly rows="16" cols="120" class="resize-none custom-textarea"></textarea>
    <div id="loadingSpinner" class="spinner absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-16 h-16 border-t-4 border-blue-500 border-solid rounded-full animate-spin hidden"></div>
</div>

<!-- Script handling the form submission and response -->
<script>
document.addEventListener('DOMContentLoaded', function () {
    const form = document.getElementById('youtube-form');
    const summariesLeftElement = document.getElementById('summaries-left');

    form.onsubmit = function (e) {
        e.preventDefault();

        const youtubeUrl = document.getElementById('youtube_url').value;
        const videoId = extractVideoId(youtubeUrl);
        document.getElementById('embeddedVideo').src = `https://www.youtube.com/embed/${videoId}`;

        // Show the loading spinner
        document.getElementById('loadingSpinner').classList.remove('hidden');

        // Construct the FormData object
        let formData = new FormData();
        formData.append('youtube_url', youtubeUrl);

        // Perform the AJAX request
        fetch('{{ url_for('views.process_youtube_url') }}', {
            method: 'POST',
            body: formData,
            credentials: 'same-origin',  // Include cookies
        })
        .then(response => {
            if(response.status === 401) { // Unauthorized
                // Here, you redirect them to a login page or show a popup/modal asking them to log in.
                alert('Please log in or register to use this feature.');
                window.location.href = '{{ url_for('auth.login') }}'; // Redirect to login
                return;  // It's important to stop processing if the user is unauthorized.
            } else {
                return response.json();
            }
        })
        .then(data => {
            // ... The rest of your code for handling the response ...

            // Check if the user needs to log in (based on a custom response from the server, if available)
            if (data && data.need_auth) {
                // Prompt user to log in or sign up
                alert('Please log in or register to continue.');
                // You could also redirect to the login page here
                window.location.href = '{{ url_for('auth.login') }}'; // Redirect to login
            }

            // Rest of your handling for successful response...
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    };

    function extractVideoId(url) {
        const videoIdRegex = /(?:\/|v=)([a-zA-Z0-9_-]{11})(?:\?|&|$)/;
        const match = url.match(videoIdRegex);
        return match ? match[1] : null;
    }
});
</script>
{% endblock %}
